/*FONTS*/
/*COLORS*/
/*RADIUS*/
/*BUTTON*/
/*BTN-NEW*/
/*DISPLAY*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/*COEUR*/
.heart-animation {
  display: flex;
  position: relative;
  margin-top: 15px;
  width: 60px;
}
.heart-animation .fa-solid {
  display: none;
  margin-bottom: 120px;
  position: absolute;
  font-size: 24px;
  background: linear-gradient(193.33deg, #a577dc -11.44%, #f4aadf 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) {
  .heart-animation .fa-solid {
    margin-left: 0;
  }
}
.heart-animation:hover .fa-solid {
  display: inline;
  padding: 1px;
  animation: grow 0.3s;
  margin-top: 13px;
  margin-right: 1px;
}
.heart-animation:hover .fa-regular {
  color: #9356DC;
  margin-left: 1px;
}
.heart-animation .fa-regular {
  position: absolute;
  overflow: hidden;
  font-size: 22px;
  margin-top: 14px;
  padding: 1px;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}
.loader {
  background: url("images/restaurant-food-frame-with-chalkboard-background.jpg");
  position: absolute;
  width: 100%;
  height: 200%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
  z-index: 1;
  animation: invisible 6s ease-in-out;
  visibility: hidden;
}
@media (min-width: 768px) {
  .loader {
    padding-top: 20px;
    flex-direction: row;
  }
}
.loader img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  opacity: 0.7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .loader img {
    height: auto;
    margin-top: -120%;
  }
}
@media (min-width: 1400px) {
  .loader img {
    margin-top: -90%;
  }
}
.loader .box {
  margin-top: -220%;
}
@media (min-width: 1024px) {
  .loader .box {
    margin-top: -124%;
    width: 10%;
  }
}
@media (min-width: 1440px) {
  .loader .box {
    margin-top: -80%;
    width: 5%;
  }
}
.loader .box i {
  width: 100%;
  height: 80px;
  animation: spin 3s linear;
  animation-direction: alternate, reverse, normal;
  color: #99E2D0;
}
@media (min-width: 1024px) {
  .loader .box i {
    width: 150px;
    color: #99E2D0;
    margin-top: -124%;
  }
}
@media (min-width: 1440px) {
  .loader .box i {
    padding-top: 140%;
    display: block;
  }
}

@keyframes invisible {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
    transform: rotate(45deg);
  }
  100% {
    transform: scale(2);
    transform: rotate(360deg);
  }
}
.box {
  padding-left: 40px;
  margin-left: 5px;
  margin-top: -200%;
}
@media (min-width: 1024px) {
  .box {
    margin-top: 0%;
  }
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
}
header .fa-arrow-left {
  cursor: pointer;
  font-size: 22px;
  margin-left: -80px;
}
@media (min-width: 768px) {
  header .fa-arrow-left {
    margin-left: -400px;
  }
}
@media (min-width: 1024px) {
  header .fa-arrow-left {
    margin-left: -600px;
  }
}
header .logo {
  text-align: center;
  width: 100%;
  font-size: 30px;
}
@media (min-width: 768px) {
  header .logo {
    font-size: 35px;
  }
}
header .recherche {
  display: inline-block;
  position: relative;
  background-color: #EAEAEA;
  width: 100%;
  text-align: center;
}
header .recherche i {
  color: black;
  position: absolute;
  margin-right: 41%;
  margin-top: 17px;
  width: 20px;
  height: 20px;
}
header .recherche input {
  background-color: #EAEAEA;
  width: auto;
  height: 50px;
  border: 0;
  text-align: center;
}

.titre-Coeur {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #353535;
  color: #F6F6F6;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 45px;
  position: relative;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
}
footer .logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  margin-left: 30px;
  width: 200px;
  align-self: flex-start;
}
@media (min-width: 768px) {
  footer .logo {
    margin-top: 48px;
    position: absolute;
  }
}
@media (min-width: 768px) {
  footer .footer-links {
    display: flex;
    margin-right: 27%;
  }
}
footer li {
  font-family: Roboto, sans-serif;
  list-style-type: none;
  margin-left: 25px;
  cursor: pointer;
}
@media (min-width: 768px) {
  footer li {
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  footer .mentions {
    margin-left: 35px;
  }
}
footer ul {
  padding-left: 0px;
  margin-left: 0px;
  line-height: 25px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 50px;
  }
}
footer .contact {
  color: #F6F6F6;
}
footer .fa-utensils {
  margin-right: 5px;
}
footer .fa-footer {
  color: #F6F6F6;
  position: inherit;
  margin-left: 0;
  margin-right: 5px;
}
@media (min-width: 768px) {
  footer .fa-footer {
    margin-top: 0;
    margin-right: 2px;
  }
}
footer a {
  margin-left: 25px;
  text-decoration: none;
  margin-top: -10px;
}
@media (min-width: 768px) {
  footer a {
    margin-top: 53px;
    margin-left: 0px;
  }
}

.reservation {
  padding-top: 1px;
  padding-bottom: 4%;
  background-color: #F6F6F6;
}
.reservation .Titre-Reservation {
  text-align: center;
}
@media (min-width: 768px) {
  .reservation {
    font-size: 35px;
  }
}
@media (1024px) {
  .reservation {
    font-size: 40px;
  }
}

p {
  text-align: center;
  margin: 10px auto;
  width: 80%;
  margin-top: 5px;
  font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
  p {
    display: block;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
  }
}

.button-explorer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;
  margin: 10px auto;
  width: 218px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  margin-top: 40px;
  color: White;
  background: linear-gradient(193.33deg, #a577dc -11.44%, #f4aadf 123.93%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 33px;
  /*transform: scale(1);*/
}
.button-explorer:hover {
  /*transform: scale(1.1);*/
  background: linear-gradient(193.33deg, #a577dc -11.44%, #f4aadf 123.93%);
  box-shadow: 5px 7px 15px gray;
  filter: brightness(120%);
}

.Titre-Fonctionnement {
  text-align: left;
  margin-left: 2%;
  width: 71%;
  margin-top: 40px;
  padding-left: 1%;
}
@media (min-width: 768px) {
  .Titre-Fonctionnement {
    margin-top: 80px;
    font-size: 30px;
    margin-left: 20%;
  }
}
@media (min-width: 1024px) {
  .Titre-Fonctionnement {
    margin-left: 5%;
  }
}

.Fonctionnement {
  width: 90%;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 6%;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .Fonctionnement {
    display: inline-block;
    width: 100%;
    margin-left: -7px;
  }
}
@media (min-width: 1024px) {
  .Fonctionnement {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
  }
}
.Fonctionnement button {
  width: 315px;
  height: 73px;
  border-radius: 20px;
  background-color: #F7F7F7;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  cursor: pointer;
  /*CERCLE BUTTONS FONCTIONNEMENT*/
}
@media (min-width: 768px) {
  .Fonctionnement button {
    width: 310px;
    margin-left: 15px;
  }
}
@media (min-width: 1024px) {
  .Fonctionnement button {
    width: 323px;
    display: inline;
    justify-content: space-between;
    margin-left: 20px;
  }
}
.Fonctionnement button .cercle {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #9356DC;
  position: absolute;
  margin-left: -20px;
  margin-top: -5px;
}
.Fonctionnement button span {
  margin-top: 6px;
}
.Fonctionnement button .fa-icone {
  position: relative;
  margin: 0;
  margin-right: 30px;
  color: #9356DC;
  width: 13px;
  height: 25px;
}
.Fonctionnement button .fa-mobile-screen {
  margin-right: 15px;
}
.Fonctionnement button:hover {
  box-shadow: 5px 7px 15px gray;
}

.Titre-Restaurant {
  text-align: left;
  margin-left: 5%;
  margin-top: 100px;
  position: absolute;
  z-index: 1;
}
@media (min-width: 768px) {
  .Titre-Restaurant {
    margin-top: 80px;
    margin-left: 21%;
    margin-right: 0;
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .Titre-Restaurant {
    margin-left: 5%;
  }
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #F6F6F6;
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 20px;
  justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .restaurant {
    flex-direction: row;
  }
}
.restaurant .btn-new {
  right: 2%;
  height: 29px;
  background: #99E2D0;
  color: white;
  border-radius: 2px;
  position: absolute;
  align-items: center;
  margin-top: 15px;
}
.restaurant .restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .restaurant .restaurant-cards {
    justify-content: space-around;
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .restaurant .restaurant-cards {
    width: 100%;
    justify-content: space-around;
    margin-left: 1%;
    flex-direction: row;
  }
}
.restaurant .restaurant-cards .card {
  width: 330px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
@media (min-width: 768px) {
  .restaurant .restaurant-cards .card {
    width: 490px;
    height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-left: 0px;
  }
}
@media (min-width: 1024px) {
  .restaurant .restaurant-cards .card {
    width: 490px;
    height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
}
.restaurant .restaurant-cards .card:hover {
  /*transform: scale(1.05);*/
  box-shadow: 5px 7px 15px gray;
}
.restaurant .restaurant-cards .card a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant-cards .card .img-card {
  position: relative;
}
.restaurant .restaurant-cards .card img {
  width: 330px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
@media (min-width: 768px) {
  .restaurant .restaurant-cards .card img {
    width: 490px;
    height: 150px;
  }
}
.restaurant .restaurant-cards .card .card-title {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 12px;
  font-size: 18px;
  font-weight: bold;
}
.restaurant .restaurant-cards .card .card-body {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.restaurant .restaurant-cards .card .card-body .fa-solid {
  margin-left: -1px;
}
.restaurant .restaurant-cards .card p {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
  width: 80%;
  margin-top: 5px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}
@media (min-width: 1024px) {
  h1 {
    text-align: center;
  }
}

.heart-animation {
  margin-left: 12px;
}

img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-top: -60px;
  position: relative;
  border-radius: 25px;
  padding-bottom: 70px;
  /*ANIMATION             CHECKED*/
  /*ANIMATION             MAGIC*/
}
.section .green-title .titre-EPD {
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 5px;
}
.section .green-title .green {
  width: 55px;
  height: 4px;
  background: #99E2D0;
  margin-bottom: 20px;
  margin-left: 1%;
}
@media (min-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .section {
    margin-left: 190px;
    width: 80%;
  }
}
.section .cards {
  display: flex;
  flex-wrap: wrap;
  animation: magic 3s ease-in;
  animation-delay: 0s;
  justify-content: center;
}
@media (min-width: 768px) {
  .section .cards {
    flex-direction: column;
  }
}
.section .cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  width: 350px;
  height: 80px;
  border: 1px solid;
  border-color: rgb(245, 238, 238);
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  transform: scale(1);
  overflow: hidden;
}
@media (min-width: 1024px) {
  .section .cards .card {
    width: 634px;
  }
}
.section .cards .card .card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 15px;
  justify-content: space-between;
  width: 85%;
  position: relative;
}
.section .cards .card .card-body .body-text {
  display: flex;
  flex-wrap: wrap;
  width: 314px;
}
.section .cards .card .card-body .body-text h3 {
  margin-top: 5px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section .cards .card .card-body .body-text p {
  margin-top: 5px;
  margin-right: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
@media (min-width: 768px) {
  .section .cards .card .card-body .body-text p {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .section .cards .card .card-body .body-text p {
    align-self: start;
    padding-left: 0;
    margin-left: 0;
  }
}
.section .cards .card .card-body .valeur {
  position: absolute;
  right: -10%;
}
@media (min-width: 768px) {
  .section .cards .card .card-body .valeur {
    margin-right: 0;
  }
}
.section .cards .card .card-body .valeur .prix {
  display: flex;
  text-align: center;
  margin-top: 33px;
  background-color: #F6F6F6;
  border-radius: 0px 0px 25px;
  margin-right: 15px;
}
.section .cards .card .card-body .valeur .ball {
  display: none;
  white-space: nowrap;
  width: 70px;
  height: 80px;
  background-color: #99E2D0;
  margin-right: -2%;
  margin-bottom: -15px;
  border-radius: 0px 25px 25px 0px;
  z-index: -1;
}
@media (min-width: 1024px) {
  .section .cards .card .card-body .valeur .ball {
    margin-right: -4%;
  }
}
.section .cards .card:hover {
  box-shadow: 5px 7px 15px gray;
}
.section .cards .card:hover .card-body .body-text {
  width: 221px;
}
@media (min-width: 768px) {
  .section .cards .card:hover .card-body .body-text {
    width: 213px;
  }
}
@media (min-width: 1024px) {
  .section .cards .card:hover .card-body .body-text {
    width: 100%;
  }
}
.section .cards .card:hover .card-body .fa-check {
  display: flex;
  color: white;
  margin-top: 25px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #F6F6F6;
  color: #99E2D0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section .cards .card:hover .card-body .valeur {
  display: flex;
  margin-top: -15px;
  right: -37px;
  position: absolute;
  justify-content: space-between;
  animation: checked 0.8s cubic-bezier(0, 0, 0.51, 0.55);
}
@media (min-width: 768px) {
  .section .cards .card:hover .card-body .valeur {
    margin-right: 0;
    animation: checked 0.8s ease-out;
  }
}
@media (min-width: 1024px) {
  .section .cards .card:hover .card-body .valeur {
    margin-right: -7%;
  }
}
.section .cards .card:hover .card-body .valeur .ball {
  display: block;
  z-index: 1;
}
.section .cards .card:hover .card-body .valeur .prix {
  height: 69px;
  margin-right: -13px;
  margin-top: 21px;
  text-align: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 15px;
}
.section .Plats {
  margin-top: 80px;
}
.section .Desserts {
  margin-top: 80px;
}
.section button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  margin: 10px auto;
  width: 218px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}
.section .button-explorer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;
  margin: 10px auto;
  width: 218px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  margin-top: 40px;
  color: White;
  background: linear-gradient(193.33deg, #a577dc -11.44%, #f4aadf 123.93%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@keyframes checked {
  0% {
    right: -20%;
  }
  100% {
    right: -12%;
  }
}
@keyframes magic {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: block;
  }
}/*# sourceMappingURL=main.css.map */