





























.button-explorer:hover {
    background: linear-gradient(193.33deg, #a577dc -11.44%, #f4aadf 123.93%);
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
}
















/*MEDIAQUERIES*/

/*MIN WIDTH 1024px*/

@media(min-width:768px) {
    h3 {
        font-size: 50px;
        margin-top: 50px;
    }

    .h3-Restaurant {
        margin-left: 155px;
    }

    i {

        margin-left: 45%;



    }

    .h3-Fonctionnement {
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 0;
        width: 0;
        font-size: 24px;
        text-align: left;
    }

    .card {
        width: 490px;
        height: 251px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        margin-top: 15px;

    }

    .card-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: Roboto, sans-serif;
        margin-top: 15px;

    }

    .card-title {
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 12px;
        font-size: 18px;
    }


    .img-Card {
        width: 490px;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
    }

    .card-text {
        text-align: left;
    }

    p {
        display: block;
        text-align: center;
        font-size: 17px;
        margin-top: 10px;


    }

    

    .reservation {
        padding-top: 1%;
        padding-bottom: 2%;
    }

    .Fonctionnement {

        width: 90%;


        display: inline-block;
        margin-left: 120px;
        justify-content: center;

    }

    .Fonctionnement-Items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;



    }

    .button-fonctionnement {
        margin-right: 5%;
        margin-left: 10px;


    }

    .cercle {
        margin-right: 325px;

    }

    .restaurant-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    footer {
        flex-direction: row-reverse;
    }

    ul {
        display: flex;
        flex-direction: row;

    }

    .fa-footer {
        margin-top: 0;
        margin-right: 2px;
    }



}