.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #99E2D0;
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    z-index: 1;

    i {
        animation: spin 2s linear infinite;
        animation-direction: alternate, reverse, normal;
        color: white;

    }
}

@keyframes spin {
    0% {
        transform: scale(2);
        transform: rotate(0deg);
    }

    100% {
        transform: scale(1);
        transform: rotate(360deg);
    }
}

/*.fondu-out {
    opacity: 0;
    transition: opacity 5s ease-out;
}*/
.box1 {

    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 1500px;
    justify-content: space-around;
    position: absolute;




}

.box2 {

    display: flex;
    margin-top: 200px;
    flex-direction: row;
    position: absolute;
    width: 1500px;
    justify-content: space-around;
    height: 400px;


}

.box3 {

    display: flex;

    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    width: 1000px;
    height: 400px;


}