.reservation {
    padding-top: 40px;
    padding-bottom: 8%;
    background-color: $color-secondary;

    .Titre-Reservation {
        text-align: center;

    }

    @media (min-width:1024px) {
        font-size: 35px;
    }

    @media(min-width:1440px) {
        font-size: 40px;
    }

}

p {
    @include flex-wrap;
    text-align: center;
    margin: 10px auto;
    width: 80%;
    margin-top: 5px;
    font-family: $p-font-family;

    @media(min-width:768px) {
        @include block-center;
        font-size: 17px;
        margin-top: 10px;
    }
}

.button-explorer {
    @include button-base;
    @include button-purple;
    cursor: pointer;
    margin-top: 100px;

    /*transform: scale(1);*/
    &:hover {
        /*transform: scale(1.1);*/
        background: $linear-background;
        @include shadow-hover;
        filter: brightness(120%);
    }
}



.Titre-Fonctionnement {
    text-align: left;
    margin-left:auto;
    width: 95%;
    margin-top: 40px;

    @media (min-width:1024px) {
        margin-top: 80px;
        font-size: 30px;
        margin-left:15px;

    }

    @media (min-width:1440px) {
        text-align: left;
        margin-left: 140px;
    }
}

.Fonctionnement {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 8%;
    margin-top: 0px;

    @media (min-width:1024px) {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 98%;
        align-items: center;
        margin-left: 15px;
    }


    @media (min-width:1440px) {
        display: inline;
        flex-wrap: wrap;
        margin-left: 80px;
        justify-content: space-between;

    }


    button {

        width: 315px;
        height: 73px;
        border-radius: 20px;
        background-color: $color-third;
        border: none;
        box-shadow: $box-shadow;
        margin-top: 30px;
        cursor: pointer;

        @media (min-width:1024px) {
            width: 310px;
            margin-left: 15px;
        }

        @media(min-width:1440px) {
            width: 323px;
            display: inline;
            justify-content: space-between;
            margin-left: 80px;
        }

        /*CERCLE BUTTONS FONCTIONNEMENT*/
        .cercle {
            display: flex;
            justify-content: space-around;
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 25px;
            background-color: $color-primary;
            position: absolute;
            margin-left: -20px;
            margin-top: -5px;


        }



        span {
            margin-top: 6px;
        }

        .fa-icone {
            position: relative;
            margin: 0;
            margin-right: 30px;
            color: $color-primary;
            width: 13px;
            height: 25px;
        }

        .fa-mobile-screen {
            margin-right: 15px;
        }

        &:hover {
            @include shadow-hover;
        }

    }

    @media(min-width:768px) {}

}



.Titre-Restaurant {


    margin-left: 20px;
    margin-top: 100px;
    position: absolute;

    @media (min-width:1024px) {
        margin-top: 80px;
        margin-left: 15px;
        margin-right: 0;
        font-size: 30px;
    }

    @media (min-width:1440px) {
        margin-left: 140px;
    }
}

.restaurant {
    @include flex-wrap;
    text-align: center;
    background-color: $color-secondary;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 20px;

    @media (min-width:1024px) {
        flex-direction: row;
    }

    @media (min-width:1440px) {
        padding-left: 0px;
    }

    .btn-new {
        @include btn-new;
        margin-left: 61%;

        @media (min-width:1024px) {
            margin-left: 38%;
        }

        @media (min-width:1440px) {
            margin-left: 27%;
        }
    }

    .restaurant-cards {

        @include flex-wrap;
        justify-content: center;
       

        @media(min-width:1024px) {
            justify-content: space-around;
            margin-left: 0;
        }

        @media (min-width:1440px) {
            width: 80%;
            justify-content: space-between;
            margin-left: 10%;
        }.card {

        width: 330px;
        height: 251px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin-top: 15px;

        @media (min-width:1024px) {
            margin-left: 0px;
        }

        @media(min-witdh:1440px) {
            width: 490px;
            height: 251px;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            margin-top: 15px;
        }

        &:hover {
            /*transform: scale(1.05);*/

            @include shadow-hover;
        }

        @media(min-width:768px) {
            width: 490px;
            height: 251px;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            color: black;

        }

        img {
            width: 330px;
            height: 150px;
            @include img-cover;

            @media(min-width:768px) {
                width: 490px;
                height: 150px;
            }
        }

        .card-title {
            margin-top: 5px;
            margin-bottom: 0;
            margin-left: 12px;
            font-size: 18px;
            font-weight: bold;
        }

        .card-body {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            .fa-solid {
                margin-left: -1px;
            }
        }

        p {
            @include flex-wrap;
            text-align: center;
            margin: 10px;
            width: 80%;
            margin-top: 5px;
            font-family: $p-font-family;
        }
    }
    }

    
}