.reservation {
    padding-top: 40px;
    padding-bottom: 8%;
    background-color: #F6F6F6;

    .Titre-Reservation {
        text-align: center;

    }

    @media (min-width:1024px) {
        font-size: 35px;
    }

    @media(min-width:1440px) {
        font-size: 40px;
    }

}

p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px auto;
    width: 80%;
    margin-top: 5px;
    font-family: Roboto, sans-serif;

    @media(min-width:768px) {
        display: block;
        text-align: center;
        font-size: 17px;
        margin-top: 10px;
    }
}

.button-explorer {
    @include button-base;
    @include button-purple;
    cursor: pointer;
    margin-top: 100px;
    /*transform: scale(1);*/


    &:hover {
        /*transform: scale(1.1);*/
        background: $linear-background;
        box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
    }
}

.Titre-Fonctionnement {
    text-align: left;
    margin-left: auto;
    width: 95%;
    margin-top: 40px;

    @media (min-width:1024px) {
        margin-top: 80px;
        font-size: 30px;

    }

    @media (min-width:1440px) {
        text-align: left;
        margin-left: 140px;
    }
}

.Fonctionnement {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 0px;

    @media (min-width:1024px) {
        display: inline;

        flex-direction: column;
        justify-content: center;
        width: 90%;
        align-items: center;
    }

    @media (min-width:1440px) {
        display: inline;
        flex-wrap: wrap;
        margin-left: 80px;

        justify-content: space-between;

    }

    button {
        @include button-fonctionnement;
        cursor: pointer;


        .cercle {
            @include circle;
            margin-left: -20px;
            margin-top: -5px;

            @media(min-width:1440px) {

                margin-right: 500px;
            }
        }

        span {
            margin-top: 6px;
        }

        .fa-icone {
            @include icone-button-fonctionnement;
        }

        .fa-mobile-screen {
            margin-right: 15px;
        }

        &:hover {
            /*transform: scale(1.1);*/

            box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
        }

    }

    @media(min-width:768px) {}

}

.Titre-Restaurant {


    margin-left: 17px;
    margin-top: 100px;
    position: absolute;

    @media (min-width:1024px) {
        margin-top: 80px;
        margin-left: 15px;
        margin-right: 0;
        font-size: 30px;
    }

    @media (min-width:1440px) {
        margin-left: 140px;
    }
}

.restaurant {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    background-color: #F6F6F6;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 20px;

    @media (min-width:1024px) {
        flex-direction: row;
    }

    @media (min-width:1440px) {
        padding-left: 0px;
    }

    .btn-new {
        @include btn-new;
        margin-left: 240px;
        margin-top: 15px;

        @media (min-width:768px) {
            margin-left: 400px;
        }
    }

    .restaurant-cards {
        margin-left: 10px;

        @media(min-width:1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media (min-width:1440px) {
            width: 80%;
            justify-content: space-between;
        }
    }

    .card {

        @include card-restaurant;

        &:hover {
            /*transform: scale(1.05);*/

            box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
        }

        @media(min-width:768px) {
            width: 490px;
            height: 251px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            color: black;

        }

        img {
            @include img-card;

            @media(min-width:768px) {
                width: 490px;
                height: 150px;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
        }

        .card-title {
            margin-top: 5px;
            margin-bottom: 0;
            margin-left: 12px;
            font-size: 18px;
            font-weight: bold;
        }

        .card-body {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            .fa-solid {
                margin-left: 0px;
            }
        }

        p {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin: 10px;
            width: 80%;
            margin-top: 5px;
            font-family: Roboto, sans-serif;
        }
    }
}