.reservation {
    padding-top: 1px;
    padding-bottom: 4%;
    background-color: $color-secondary;

    .Titre-Reservation {
        text-align: center;

    }

    @media (min-width:$breakpoint-tablette) {
        font-size: 35px;
    }

    @media($breakpoint-desktop) {
        font-size: 40px;
    }

}

p {
    
    text-align: center;
    margin: 10px auto;
    width: 80%;
    margin-top: 5px;
    font-family: $p-font-family;

    @media(min-width:$breakpoint-tablette) {
        @include block-center;
        font-size: 17px;
        margin-top: 10px;
    }
}

.button-explorer {
    @include button-base;
    @include button-purple;
    cursor: pointer;
    margin-top: 33px;

    /*transform: scale(1);*/
    &:hover {
        /*transform: scale(1.1);*/
        background: $linear-background;
        @include shadow-hover;
        filter: brightness(120%);
    }
}



.Titre-Fonctionnement {

    text-align: left;
    margin-left: 2%;
    width: 71%;
    margin-top: 40px;
    padding-left: 1%;

    @media (min-width:$breakpoint-tablette) {
        margin-top: 80px;
        font-size: 30px;
margin-left: 20%;

    }


    @media (min-width:$breakpoint-desktop) {
     margin-left: 5%;
    }
}

.Fonctionnement {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 6%;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width:$breakpoint-tablette) {
        display: inline-block;
        width: 100%;
        margin-left: -7px;
    }





    @media (min-width:$breakpoint-desktop) {

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin-left: 5%;

    }


    button {

        width: 315px;
        height: 73px;
        border-radius: 20px;
        background-color: $color-third;
        border: none;
        box-shadow: $box-shadow;
        margin-top: 30px;
        cursor: pointer;

        @media (min-width:$breakpoint-tablette) {
            width: 310px;
            margin-left: 15px;
        }

        @media(min-width:$breakpoint-desktop) {
            width: 323px;
            display: inline;
            justify-content: space-between;
            margin-left: 20px;
        }

        /*CERCLE BUTTONS FONCTIONNEMENT*/
        .cercle {
            display: flex;
            justify-content: space-around;
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 25px;
            background-color: $color-primary;
            position: absolute;
            margin-left: -20px;
            margin-top: -5px;


        }



        span {
            margin-top: 6px;
        }

        .fa-icone {
            position: relative;
            margin: 0;
            margin-right: 30px;
            color: $color-primary;
            width: 13px;
            height: 25px;
        }

        .fa-mobile-screen {
            margin-right: 15px;
        }

        &:hover {
            @include shadow-hover;
        }

    }



}



.Titre-Restaurant {

    text-align: left;
    margin-left: 5%;
    margin-top: 100px;
    position: absolute;
    z-index: 1;

    @media (min-width:$breakpoint-tablette) {
        margin-top: 80px;
        margin-left: 21%;
        margin-right: 0;
        font-size: 30px;
    }

    @media (min-width:$breakpoint-desktop) {
        margin-left: 5%;
    }
}

.restaurant {
    @include flex-wrap;
    text-align: center;
    background-color: $color-secondary;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
    justify-content: center;
    position: relative;
    

    @media (min-width:$breakpoint-tablette) {
        flex-direction: row;
    }

    @media (min-width:$breakpoint-desktop) {
      
    }

    .btn-new {
        @include btn-new;
        //margin-left: 61%;


    }

    .restaurant-cards {


        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;



        @media(min-width:$breakpoint-tablette) {
            justify-content: space-around;
            margin-left: 0;
        }

        @media (min-width:$breakpoint-desktop) {
            width: 100%;
            justify-content: space-around;
            margin-left: 1%;
            flex-direction: row;
        }

        .card {

            width: 330px;
            height: 251px;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            margin-top: 15px;

            @media(min-width:$breakpoint-tablette) {
                width: 490px;
                height: 251px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                margin-top: 15px;
                margin-left: 0px;
            }


            @media(min-width:$breakpoint-desktop) {
                width: 490px;
                height: 251px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                margin-top: 15px;
            }

            &:hover {
                /*transform: scale(1.05);*/

                @include shadow-hover;
            }



            a {
                text-decoration: none;
                color: black;

            }

            .img-card {
                position: relative;
            }

            img {

                width: 330px;
                height: 150px;
                @include img-cover;

                @media(min-width:$breakpoint-tablette) {
                    width: 490px;
                    height: 150px;
                }
            }

            .card-title {
                margin-top: 5px;
                margin-bottom: 0;
                margin-left: 12px;
                font-size: 18px;
                font-weight: bold;
            }

            .card-body {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                .fa-solid {
                    margin-left: -1px;
                }
            }

            p {
                @include flex-wrap;
                text-align: center;
                margin: 10px;
                width: 80%;
                margin-top: 5px;
                font-family: $p-font-family;
            }
        }
    }


}