a {
    text-decoration: none;
    color: black;

}

h1 {
    font-family: 'Shrikhand', cursive;

    @media (min-width:1440px) {
        text-align: center;
    }

}

.heart-animation {
   
        margin-left: 15px;
    }


img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.section {
.green-title{ 
display: flex;
flex-direction: column;   
align-items:flex-start; 
    .titre-EPD {
        font-weight: 300;
        margin-left: 10px;
        margin-bottom: 5px;
        
        
    }
.green{
    display: flex;
    width: 55px;
    height: 4px;
   background:#99E2D0 ;
    margin-bottom: 20px;
    margin-left: 10px;
    
}}
  
    background-color: #F6F6F6;

    margin-top: -60px;
    position: relative;
    border-radius: 25px;
    padding-bottom: 70px;

    @media (min-width:1024px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;


        width: 80%;
    }

    @media (min-width:1440px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 190px;


        width: 80%;
    }


    .cards {
        display: flex;

        flex-wrap: wrap;


        animation: magic 3s ease-in-out;
        animation-delay: 3s;

        @media(min-width:768px) {
            flex-direction: column;
        }

        .card {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-bottom: 20px;

            overflow: hidden;
            width: 350px;
            height: 80px;
            border: 1px solid;
            border-color: rgb(245, 238, 238);
            border-radius: 25px;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            color: black;
            font-family: sans-serif;
            transform: scale(1);

            @media (min-width:1024px) {
                width: 634px;
            }

            &:hover {
                transform: scale(1.02);

                box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
            }

            .ball {
                display: none;


                white-space: nowrap;
                width: 70px;
                height: 80px;
                background-color: #99E2D0;
                position: absolute;
                border-radius: 0px 25px 25px 0px;
                margin-left: 280px;
                z-index: -1;

                @media (min-width:768px) {
                    margin-left: 336px;
                }

            }

            @media (min-width:768px) {
                &:hover {
                    transform: scale(1.05);

                    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);



                    .fa-check {
                        display: flex;
                        color: white;
                        margin-top: 25px;
                        margin-left: 20px;
                        width: 30px;
                        height: 30px;
                        border-radius: 25px;
                        background-color: white;
                        color: #99E2D0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                    }

                    .ball {
                        transform: left;
                        display: block;
                        transition: left;
                        margin-left: 280px;
                        animation: checked 1s;
                        z-index: 1;

                        @media (min-width:768px) {
                            margin-left: 564px;
                        }
                    }

                    .prix {
                        display: flex;
                        position: absolute;
                        height: 69px;
                        margin-left: 230px;
                        margin-top: 0;
                        position: absolute;
                        text-align: center;
                        align-items: center;
                        padding-right: 15px;
                        padding-left: 15px;

                        @media (min-width:768px) {
                            margin-left: 515px;
                        }

                    }


                }
            }

            &:focus {



                .fa-check {
                    display: flex;
                    color: white;
                    margin-top: 25px;
                    margin-left: 15px;
                    width: 30px;
                    height: 30px;
                    border-radius: 25px;
                    background-color: white;
                    color: #99E2D0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                }

                .ball {

                    display: block;
                    transition: left;
                    z-index: 1;
                    animation: checked 1s;

                    @media (min-width:768px) {
                        margin-left: 564px;
                    }

                }

                .prix {
                    display: flex;
                    position: absolute;

                    height: 69px;
                    margin-left: 230px;
                    margin-top: 0;
                    padding-right: 15px;
                    padding-left: 15px;
                    position: absolute;
                    text-align: center;
                    align-items: center;
                    animation: checked2 1s;

                    @media (min-width:768px) {
                        margin-left: 514px;
                    }


                }


            }

            @keyframes checked {
                0% {
                    right: -5%;
                }

                100% {
                    right: 0%
                }
            }

            @keyframes checked2 {
                0% {
                    left: 1.5%;
                }

                100% {
                    left: 2%
                }
            }

            .fa-check {
                display: none;
            }



            h3 {
                margin-top: 5px;
                margin-bottom: 0;

            }

            .card-body {

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin-left: 15px;
                margin-top: 15px;
                justify-content: space-between;
                position: absolute;
                width: 500px;


            }

            .prix {
                margin-top: 40px;
                margin-left: 310px;
                background-color: #F6F6F6;
                border-radius: 25px;

                @media (min-width:1024px) {
                    margin-left: 574px;

                }

            }



            p {
                margin-top: 5px;
                margin-right: 200px;

                @media (min-width:1024px) {
                    display: flex;
                    align-self: start;
                    padding-left: 0;
                    margin-right: 250px;


                }
            }

        }


    }


    .Plats {
        margin-top: 80px;
    }

    .Desserts {
        margin-top: 80px;
    }

    button {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 17px;
        margin: 10px auto;
        width: 218px;
        height: 50px;
        border: 0;
        border-radius: 25px;
        cursor: pointer;
    }

    .button-explorer {
        @include button-base;
        @include button-purple;

    }

    @keyframes magic {
        0% {
            visibility: visible;
            transform: scale(0);
            rotate: (180deg);
        }

        50% {
            visibility: visible;
            transform: scale(0.5);
        }

        100% {
            visibility: visible;
            transform: scale(1);
            display: block;
        }
    }

}