a {
    @include display-a-none;
}

h1 {
    font-family: $h1-font-family-title;

    @media (min-width:1440px) {
        text-align: center;
    }
}

.heart-animation {
    margin-left: 15px;
}

img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.section {
    background-color: $color-secondary;
    margin-top: -60px;
    position: relative;
    border-radius: 25px;
    padding-bottom: 70px;

    .green-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .titre-EPD {
            font-weight: 300;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        .green {
            display: flex;
            width: 55px;
            height: 4px;
            background: $color-frth;
            margin-bottom: 20px;
            margin-left: 10px;

        }
    }



    @media (min-width:1024px) {
        @include flex-wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;
        width: 80%;
    }

    @media (min-width:1440px) {
        margin-left: 190px;
        width: 80%;
    }




    .cards {
        @include flex-wrap;
        animation: magic 3s ease-in-out;
        animation-delay: 0s;

        @media(min-width:768px) {
            flex-direction: column;
        }



        .card {

            @include flex-wrap;
            flex-direction: row;
            margin-left: 10px;
            margin-bottom: 20px;
            width: 350px;
            height: 80px;
            border: 1px solid;
            border-color: rgb(245, 238, 238);
            border-radius: 25px;
            box-shadow: $box-shadow;
            text-decoration: none;
            color: black;
            font-family: sans-serif;
            transform: scale(1);
            overflow: hidden;

            @media (min-width:1024px) {
                width: 634px;
            }

            .card-body {

                @include flex-wrap;
                flex-direction: row;
                margin-left: 15px;
                margin-top: 15px;
                justify-content: space-between;
                width: 85%;


                .body-text {
                    width: 80%;

                    h3 {
                        margin-top: 5px;
                        margin-bottom: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        margin-top: 5px;
                        margin-right: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media (min-width:1024px) {
                            display: flex;
                            align-self: start;
                            padding-left: 0;
                            margin-right: 250px;
                        }
                    }
                }

                .valeur {
                    margin-right: -5%;

                    @media (min-width:1024px) {
                        margin-right: -10%;
                    }

                    .prix {
                        display: flex;
                        text-align: center;
                        margin-top: 11px;
                        background-color: $color-secondary;
                        border-radius: 0px 0px 25px;
                    }

                    .ball {

                        display: none;
                        white-space: nowrap;
                        width: 70px;
                        height: 80px;
                        background-color: $color-frth;
                        margin-right: -2%;
                        margin-bottom: -15px;
                        border-radius: 0px 25px 25px 0px;
                        z-index: -1;

                        @media (min-width:1024px) {
                            margin-right: -4%;
                        }
                    }
                }
            }

            &:hover {
                /* transform: scale(1.05);*/

                @include shadow-hover;

                .fa-check {
                    display: flex;
                    color: white;
                    margin-top: 25px;
                    margin-left: 20px;
                    width: 30px;
                    height: 30px;
                    border-radius: 25px;
                    background-color: $color-secondary;
                    color: $color-frth;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }



                .valeur {
                    display: flex;
                    margin-top: -15px;
                    margin-left: 61%;
                    position: absolute;
                    justify-content: space-between;


                    @media (min-width:1024px) {
                        margin-left: 78%;
                    }

                    .ball {
                        transition: left;
                        animation-duration: 2s;
                        transition: 2s;
                        animation: checked 2s ease-in-out;
                        display: block;
                        z-index: 1;

                    }



                    .prix {


                        height: 69px;
                        margin-right: -13px;
                        margin-top: -1px;
                        text-align: center;
                        align-items: center;
                        padding-right: 20px;
                        padding-left: 15px;


                        @media (min-width:768px) {}
                    }
                }


            }


        }
    }









    .Plats {
        margin-top: 80px;
    }

    .Desserts {
        margin-top: 80px;
    }

    button {
        @include flex-wrap;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        margin: 10px auto;
        width: 218px;
        height: 50px;
        border: 0;
        border-radius: 25px;
        cursor: pointer;
    }

    .button-explorer {
        @include button-base;
        @include button-purple;

    }

    /*ANIMATION CHECKED*/
    @keyframes checked {

        0% {

            right: -5%;
        }

        100% {
            right: 0%;

        }
    }

    /*ANIMATION MAGIC*/
    @keyframes magic {
        0% {
            visibility: visible;
            transform: scale(0);
            rotate: (360deg);
        }

        50% {
            visibility: visible;
            transform: scale(0.5);
        }

        100% {
            visibility: visible;
            transform: scale(1);
            display: block;
        }
    }

}