/*BUTTON*/
@mixin button-base {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
    margin: 10px auto;
    width: 218px;
    height: 50px;
    border: 0;
    border-radius: 25px;
}

@mixin button-purple {
    margin-top: 40px;
    color: White;
    background: $linear-background;
    box-shadow: $box-shadow;
}

/*BTN-NEW*/

@mixin btn-new {
    display: flex;
    height: 29px;
    background: $color-frth;
    color: white;
    border-radius: 2px;
    position: absolute;
    margin-left: 65%;
    align-items: center;
    margin-top: 15px;
}

@mixin box-shadow {
    box-shadow: $box-shadow;
}

/*DISPLAY*/

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
    
}

@mixin block-center {
    display: block;
    text-align: center;
}
@mixin display-a-none{
    text-decoration: none;
    color: black;
}


@mixin img-cover {
    object-fit: cover;
    border-radius: $border-radius $border-radius 0px 0px;
}