footer {

    background-color: #353535;
    color: $color-secondary;
    padding-top: 20px;
    @include flex-wrap;
    flex-direction: column;
    padding-bottom: 45px;
    position: relative;

    @media (min-width:$breakpoint-tablette) {
        flex-direction: row-reverse;



    }


    .logo {
        font-family: $h1-font-family-title;
        font-size: 18px;
        margin-left: 30px;
        width: 200px;
        align-self: flex-start;

        @media (min-width:$breakpoint-tablette) {
            
            margin-top: 48px;
            position: absolute;

        }
    }

    .footer-links {
        @media (min-width:$breakpoint-tablette) {
            display: flex;
            margin-right: 27%;
        }
       
    }

    li {
        font-family: $p-font-family;
        list-style-type: none;
        margin-left: 25px;
        cursor: pointer;

        @media (min-width:$breakpoint-tablette) {
            margin-left: 5px;
        }


    }

    .mentions {
        @media (min-width:$breakpoint-tablette) {
            margin-left: 35px;
        }
    }



    ul {
        padding-left: 0px;
        margin-left: 0px;
        line-height: 25px;
        margin-bottom: 0px;

        @media(min-width:$breakpoint-tablette) {
            display: flex;
            flex-direction: row;
            align-self: flex-end;
            margin-right: 20px;
            margin-top: 50px;
        }
    }

    .contact {

        color: $color-secondary;
    }

    .fa-utensils {
        margin-right: 5px;
    }

    .fa-footer {
        color: $color-secondary;
        position: inherit;
        margin-left: 0;
        margin-right: 5px;

        @media(min-width:$breakpoint-tablette) {
            margin-top: 0;
            margin-right: 2px;
        }
    }

    a {
        margin-left: 25px;
        text-decoration: none;
        margin-top: -10px;

        @media (min-width:$breakpoint-tablette) {
            margin-top: 53px;
            margin-left: 0px;

        }
    }
}