

header {
    .fa-arrow-left{
      cursor: pointer;  
      font-size: 22px;
      
      margin-left: -80px;
      @media (min-width:768px) {
        margin-left: -600px;
      }
    }
    logo{
        font-size: 30px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: $h1-font-family;

    input {
        background-color: #EAEAEA;
        width: 100%;
        height: 50px;
        border: 0;
        text-align: center;
    }

    .recherche {

        display: flex;
        flex-wrap: wrap;
        width: 100%;

        i {
            color: black;
            position: absolute;
            margin-left: 115px;
            margin-top: 17px;
            width: 20px;
            height: 20px;
            @media (min-width:1024px) {
                margin-left: 425px;
            }
            @media (min-width:1440px) {
                margin-left: 45%;
            }


        }


    }



}
.titre-Coeur{
    display: flex;
    justify-content: center;
}
