$h1-font-family:"Shrikhand", sans-serif;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: $h1-font-family;
    input {
        background-color: #EAEAEA;
        width: 100%;
        height: 50px;
        border: 0;
        text-align: center;
     }
     .recherche {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        i {
            color: black;
            position: absolute;
            margin-left: 30%;
            margin-top: 17px;
            width: 20px;
            height: 20px;
        
        
        }
    
    
    }
    
   

}
footer{
    
        h1{font-family: $h1-font-family;}
        background-color: #353535;
        color: #ffffff;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .h1-footer {
            font-size: 18px;
            margin-left: 30px;
        }
        li {
            font-family: Roboto, sans-serif;
            list-style-type: none;
        
        }
        ul {
            padding-left: 0px;
            margin-left: 30px;
            line-height: 25px;
        }
        .contact {
            color: White;
        }
        .fa-footer {
            color: white;
            position: inherit;
            margin-left: 0;
            margin-right: 5px;
        }
        
}




